{% extends 'base.html.twig' %}
{% block body %}

    <h1>Liste des gammes</h1>
    <ul>
        {% for value in gammes %}
            <li>{{ value|title }}</li>

        {% endfor %}
    </ul>

{% endblock %}
